.adm{
    background-color: red;
}
body{

   /*  background-image: url("../upload/restaurante.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: transparent; */
    background: linear-gradient(to bottom right, #e75b1e, #dfcbc2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
}



/* body::before{
    content: '';
    background-color: rgba(0,0,0,0.6);
} */
header{
    position: absolute;
    margin: 0;
    width: 100%;
}

i.fas:hover{
    transform: scale(1.2);
    color: #ff3401;
    transition: all 2s ease-out;
    cursor: pointer;
}

input#btn-menu, header label{display: none;}


header label i.fas{
   width: 100%;
}

i.fas{
    color: #e75b1e;
}

img.log_n{
    width:500px; height: 400px;
    border-radius: 20px;
}

nav.menu{
    position: fixed;
    background-color: #000;
    opacity: .7;
    width: 100%;
    border-radius: 1px;
    z-index: 1;
}

nav.menu ul{
    list-style: none;
    display: flex;
    float: right;
    margin: 10px;
    padding-right: 20px;
}

nav.menu li a{
    text-transform: uppercase;
    color: #fff;
    
}

nav.menu li a:hover{
    background: transparent;
    border-bottom: 3px solid #777;
    transition: all .3s ease-in-out;
}

@media (max-width:768px){
    nav.menu li a{
        padding: 15px 0px;
    }
    header label{
        position: relative;
        left: -30px;
        top: 20px;
        display: block;
        float: right;
    }
    nav.menu{
        position: fixed;
        background: #000;
        margin-left: -100%;
        top: 50px;
        transition: all .3s ease-in-out;
        z-index: 1;
        
    }
    nav.menu ul{
        flex-direction: column;
        float: left;
    }
    nav.menu ul li{
        background: transparent;
        text-align: -webkit-match-parent;
        width: 100%;
    }

    nav.menu ul li a{
        width: 100%;
        background: transparent;
    }
    #btn-menu:checked ~ nav.menu{
        margin: 0px;
        transition: all .3s ease-in-out;
    }
}

nav.menu ul li a:focus{
    color: #e75b1e;
    background: transparent;
}




div.main{
    position: relative;
    top: 100px;
    margin: 0 !important;
    padding: 15px 0 15px;
    line-height: normal;
    font-size: 100%;
    height: 100%;
    text-align: center;
}

div.logo{
    position: relative;
    float: left;
}

div.datos{
    position: relative;
    float: right;
    width: 65%;
    margin-right: 50px;
    /* background-color: rgb(241, 86, 15, .8); */
    color: #fff;
    border-radius: 15px;

}

h2{
    /* color: rgb(241, 86, 15, .8); */
    color: rgba(235, 208, 195, 0.8);
    
}

div.usuarios{
    position: relative;
    float: left;
    background: linear-gradient(to bottom right, rgb(241, 86, 15), rgba(226, 153, 119, 0.8));
    width: 31%;
    margin: 10px;
    height: 30vh;
    border-radius: 10px;
}

@media (min-width: 800px){
    img.log_n{
        width: 450px;
    }
} 

@media (max-width:1300px){
    div.datos{
        width: 48%;
        height: 520px;
        overflow-y: scroll;
        display: block;
    }
    div.usuarios{
        width: 46%;
    }
    img.log_n{
        width: 450px;
    }
}


@media (max-width:1100px){
    div.datos{
        width: 45%;
        height: 520px;
        overflow-y: scroll;
        display: block;
    }
    div.usuarios{
        width: 45%;
    }
    img.log_n{
        width: 450px;
    }
}

@media (max-width:1000px){
    div.datos{
        width: 38%;
        height: 520px;
        overflow-y: scroll;
        display: block;
    }
    div.usuarios{
        width: 43%;
    }
    h3{
        font-size: 15px;
    }
    img.log_n{
        width: 450px;
    }
}

@media (max-width:900px){
    div.datos{
        width: 28%;
        height: 520px;
        overflow-y: scroll;
        display: block;
    }
    div.usuarios{
        width: 90%;
    }
    h3{
        font-size:  14px;
    }
    img.log_n{
        width: 450px;
    }
}


@media (max-width:700px){
    div.datos{
        width: 44%;
        height: 500px;
    }
    div.usuarios{
        width: 85%;
    }
    h3{
        font-size: 10px;
    }
    i.fas:hover{
        transform: none;
    }
}

@media (max-width:400px){
    div.datos{
        width: 50%;
        height: 500px;
    }
    div.usuarios{
        width: 85%;
    }
    i.fas:hover{
        transform: none;        
    }
    img.log_n{
        width: 110px;
    }
}
@media (max-width:700px){
    div.datos{
        width: 55%;
        height: 350px;
        left: 30px;
    }
    div.usuarios{
        width: 90%;
        
    }
    i.fas:hover{
        transform: none;
    }
    img.log_n{
        width: 150px;
    }
}

/* @media (max-width:1300px){
    div.datos{
        div.datos{
            width: 48%;
           
        }
    }
} */
/* 

@media (max-width:1300px){
    div.datos{
        width: 58%;
        height: 520px;
        overflow-y: scroll;
        display: block;
    }
    div.usuarios{
        width: 47%;
    }
    img.log_n{
        width: 450px;
    }
}

@media (max-width:1200px){
    div.datos{
        width: 48%;
       
    }
    div.usuarios{
        width: 45%;
    }
    h3{
        font-size: 20px;
    }
}
@media (max-width: 900px){
    div.datos{
        width: 35%;
        height: 500px;
        overflow: auto;
        display: block;
    }
    div.usuarios{
        width: 90%;
    }
    h3{
        font-size: 10px;
    }
    img.log_n{
        width: 400px;
    }
} */

/* @media (max-width: 1300px){
    div.datos{
        width: 10%;
        height: 500px;
    }
    div.usuarios{
        width: 45%;
    }
}
@media (max-width: 1000px){
    div.usuarios{
        width: 43%;
    }
}
@media (max-width: 800px){
    div.usuarios{
        height: 43px;
    }
} */
/* @media (min-width: 400px){
    div.datos{
        width: 40%;
        height: 500px;
        overflow: auto;
        display: block;
    }
} */
/* div.usuarios:nth-child(1){
    margin-right: 65px;
}
div.usuarios:nth-child(3){
    margin-right: 65px;
} */

/*
    <label for="nombre"><?php echo $_SESSION["validarIngreso"];?></label>
*/
